.button {
    background: linear-gradient(90deg, #5E11FF 0%, #F87516 100%);
    border: none;
    color: white;
    padding: 10px 60px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 28px;
    font-family: 'Sora', sans-serif;
  }
  
  /* Media query for mobile devices */
  @media (max-width: 320px) {
    .button {
      padding: 20px 20px;
     margin:0px  30px;
    }
  }
  @media (max-width: 768px) {
    .button {
      padding: 20px 20px;
     margin:0px  6px;
    }
  }
